
<div class="logo">
    <a class="simple-text logo-mini" style="margin-left: 40px;">
      <div class="logo-img" style="display: flex; align-items:center">
          <i class="fas fa-leaf fa-2x"></i>
      </div>
    </a>
    <a class="simple-text logo-normal">
        Air Quality
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
