<div class="panel-header panel-header-lg" style="height: 100%; display: flex; flex-direction: column; justify-content: space-around; padding-bottom: 125px">
    <div class="row" style="display: flex; justify-content: space-around">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">HITS</h4>
                </div>
                <div class="card-body">
                    <p>{{hits}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Total Requests</h4>
                </div>
                <div class="card-body">
                    <p>{{nRequests}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Misses</h4>
                </div>
                <div class="card-body">
                    <p>{{misses}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="display: flex; justify-content: center">
        <div class="col-md-11">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Requests</h4>
                </div>
                <div class="card-body">
                    <div class="table" style="min-height: 415px">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Cache Response
                            </th>
                            <th>
                                Latitude
                            </th>
                            <th>
                                Longitude
                            </th>
                            <th class="text-right">
                                Location
                            </th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let request of requests | paginate: { itemsPerPage: 8 , currentPage: page,
                            totalItems: nRequests }">
                                <td>
                                    {{request.id}}
                                </td>
                                <td>
                                    {{request.date | date:'medium'}}
                                </td>
                                <td>
                                    {{request.cacheResponse}}
                                </td>
                                <td>
                                    {{request.latitude}}
                                </td>
                                <td>
                                    {{request.longitude}}
                                </td>
                                <td class="text-right">
                                    {{((request.airQualityLocationAccessed === null) ? '-' : request.airQualityLocationAccessed)}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12" style="display: flex; justify-content: center">
                    <pagination-controls (pageChange)="getPage(page = $event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
