<div class="panel-header panel-header-lg"
     style=" display: flex; flex-direction: column; justify-content: space-around; padding-top: 0px">
    <div style="display: flex; justify-content: flex-end">
        <div style="width: 400px; display: flex; justify-content: space-around; flex-direction: column">
            <h4 style="color: white; text-align: center; margin-top: 0px">Source</h4>
            <div style="display: flex; justify-content: space-around">
                <a href="https://openweathermap.org/api"><img height="50px" style="opacity: 0.2" src="/assets/img/logo-open-weather.png"></a>
                <a href="https://aqicn.org/api/"><img height="50px" style="opacity: 0.2" src="/assets/img/logo-aqicn.png"></a>
            </div>
        </div>
    </div>
    <div class="row" style="display: flex; justify-content: space-around">
        <div class="col-md-3">
            <div class="card" style="display: flex; flex-direction: row">
                <div class="col-md-8">
                    <div class="card-header">
                        <h4 class="card-title">Hits</h4>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
                <div class="col-md-4" style="display: flex; align-items: center; justify-content: center">
                    <i style="color: #93D16E" class="fas fa-check fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="display: flex; flex-direction: row">
                <div class="col-md-8">
                    <div class="card-header">
                        <h4 class="card-title">Total Requests</h4>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
                <div class="col-md-4" style="display: flex; align-items: center; justify-content: center">
                    <i style="color: #52A8F8" class="fas fa-globe fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="display: flex; flex-direction: row">
                <div class="col-md-8">
                    <div class="card-header">
                        <h4 class="card-title">Misses</h4>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
                <div class="col-md-4" style="display: flex; align-items: center; justify-content: center">
                    <i style="color: #EB4A41" class="fas fa-window-close fa-3x"></i>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="main-content">


</div>

