<div class="panel-header panel-header-lg"
     style=" display: flex; flex-direction: column; justify-content: space-around; padding-top: 0px; height: 480px">
    <div class="row" style="margin-top: 50px">
        <div class="col-md-3" style="display: flex; justify-content: space-around">
            <div class="form-group">
                <select class="form-control" style="background-color: white"
                        (change)="selectSearchType($event.target.value)" required>
                    <option value="Coordinates" selected>Search by Coordinates</option>
                    <option value="Location">Search by Location</option>
                </select>
            </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3"
             style="width: 400px; display: flex; justify-content: space-around; flex-direction: column">
            <h4 style="color: white; text-align: center; margin-top: 0px">Source</h4>
            <div style="display: flex; justify-content: space-around">
                <a href="https://openweathermap.org/api"><img height="50px"
                                                              [ngStyle]="{'opacity':measurement === undefined ? 0.5 : (measurement.responseSource == 'OPENWEATHER' ? 1 : 0.2) }"
                                                              src="/assets/img/logo-open-weather.png"></a>
                <a href="https://aqicn.org/api/"><img height="50px"
                                                      [ngStyle]="{'opacity':measurement === undefined ? 0.5 : (measurement.responseSource == 'AQICN' ? 1 : 0.2) }"
                                                      src="/assets/img/logo-aqicn.png"></a>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center">
        <div class="col-md-5">
            <div class="card" style="display: flex; flex-direction: row; height: 310px; margin-bottom: 25px">
                <div class="card-body">
                    <h3 style="text-align: center; margin-bottom: 15px">Search by
                        {{selectedSearch}}</h3>
                    <div *ngIf="selectedSearch === 'Coordinates'">
                        <form [formGroup]="coordinatesForm"
                              (ngSubmit)="getActualMeasurement(requestCoordinates.latitude, requestCoordinates.longitude)">
                            <div class="modal-body"
                                 style="display: flex; justify-content: space-around; align-items: center">

                                <div style="width: 25%" class="form-group">
                                    <label>Latitude</label>
                                    <input #latitude type="number" (click)="errorsCheck()"
                                           [(ngModel)]="requestCoordinates.latitude"
                                           formControlName="latitude" class="form-control"
                                           [ngClass]="{ 'is-invalid': f.latitude.errors && checkFormErrors }"/>
                                    <div *ngIf=" !requested && f.latitude.errors && checkFormErrors"
                                         class="invalid-feedback">
                                        <div *ngIf=" !requested && f.latitude.errors && checkFormErrors">Latitude must
                                            be between -90 and
                                            90
                                            with 6 decimals
                                        </div>
                                    </div>
                                </div>

                                <div style="width: 25%" class="form-group">
                                    <label>Longitude</label>
                                    <input #longitude type="number" (click)="errorsCheck()"
                                           [(ngModel)]="requestCoordinates.longitude"
                                           formControlName="longitude" class="form-control"
                                           [ngClass]="{ 'is-invalid': f.longitude.errors && checkFormErrors }"/>
                                    <div *ngIf=" !requested && f.longitude.errors && checkFormErrors"
                                         class="invalid-feedback">
                                        <div *ngIf=" !requested && f.longitude.errors && checkFormErrors">Longitude must
                                            be between -180
                                            and
                                            180 with 6 decimals
                                        </div>
                                    </div>
                                </div>


                                <button [disabled]="requested
      || f.latitude.errors || f.longitude.errors || myDatePickerFrom === undefined || myDatePickerTo === undefined"
                                        type="submit" rounded="true"
                                        style="border-radius: 50%; height: 40px; width: 25px; display: flex; justify-content: center; align-items: center"
                                        class="btn btn-info"><i class="fas fa-search"></i></button>

                            </div>
                        </form>
                    </div>
                    <div *ngIf="selectedSearch === 'Location'">
                        <form [formGroup]="locationForm"
                              (ngSubmit)="getActualMeasurement(requestCoordinates.latitude, requestCoordinates.longitude)">
                            <div class="modal-body"
                                 style="display: flex; justify-content: space-around; align-items: center">

                                <div class="form-group">
                                    <label>Location</label>
                                    <input style="width: 350px" #location (click)="errorsCheck()" type="text"
                                           [(ngModel)]="requestLocation.location"
                                           formControlName="location" class="form-control"
                                           [ngClass]="{ 'is-invalid': l.location.errors && checkFormErrors }"/>
                                    <div *ngIf=" !requested && l.location.errors && checkFormErrors"
                                         class="invalid-feedback">
                                        <div *ngIf=" !requested && l.longitude.required && checkFormErrors">Location is
                                            required
                                        </div>
                                    </div>
                                </div>

                                <button [disabled]="requested
      || l.location.errors || myDatePickerFrom === undefined || myDatePickerTo === undefined "
                                        type="submit" rounded="true"
                                        style="border-radius: 50%; height: 40px; width: 25px; display: flex; justify-content: center; align-items: center"
                                        class="btn btn-info"><i class="fas fa-search"></i></button>

                            </div>

                        </form>
                    </div>
                    <div style="display: flex; justify-content: space-around">
                        <mat-form-field>
                            <input matInput [ngxMatDatetimePicker]="pickerFrom" placeholder="From"
                                   [(ngModel)]="myDatePickerFrom">

                            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>

                            <ngx-mat-datetime-picker #pickerFrom
                                                     [enableMeridian]="true"></ngx-mat-datetime-picker>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput [ngxMatDatetimePicker]="pickerTo" placeholder="To"
                                   [(ngModel)]="myDatePickerTo"
                                   [min]="myDatePickerFrom">

                            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>

                            <ngx-mat-datetime-picker #pickerTo
                                                     [enableMeridian]="true"></ngx-mat-datetime-picker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<ngx-spinner [fullScreen]="false"></ngx-spinner>

<div class="main-content">

    <div *ngIf="measurement">
        <div class="row" style="display: flex; justify-content: space-around">
            <div class="card col-md-3">
                <div class="card-header">
                    <h3 class="card-title">Measurement Date</h3>
                </div>
                <div class="card-body" style="display: flex; justify-content: space-around">
                    <i class="far fa-clock fa-2x" style="color:#6672C0;"></i>
                    <h5>{{measurement.date | date:'short'}}</h5>
                </div>
            </div>

            <div class="card col-md-3">
                <div class="card-header">
                    <h3 class="card-title">Air Quality Index</h3>
                </div>
                <div class="card-body" style="display: flex; justify-content: space-around">
                    <i class="fab fa-envira fa-2x" style="color: #93D16E"></i>  <h5>{{measurement.airQualityIndex}}</h5>
                </div>
            </div>

            <div class="card col-md-3">
                <div class="card-header">
                    <h3 class="card-title">Temperature</h3>
                </div>
                <div class="card-body" style="display: flex; justify-content: space-around">
                    <i class="fas fa-thermometer-half fa-2x" style="color: #E18660"></i>
                    <h5>{{((measurement.temperature === null) ? '--' : measurement.temperature + 'ºC')}}</h5>
                </div>
            </div>
        </div>

        <div *ngIf="measurement.responseSource == 'AQICN'" class="row"
             style="display: flex; justify-content: space-around">
            <div *ngFor="let value of valuesLine3.keys()" class="card col-md-3">
                <div class="card-header">
                    <h3 class="card-title">{{value | titlecase}}</h3>
                </div>
                <div class="card-body" style="display: flex; justify-content: space-around">
                    <i class="{{valuesLine3.get(value)[1]}} fa-2x" style="color: #52A8F8"></i>
                    <h5>{{((measurement[value] === null) ? '--' : measurement[value] + '' + valuesLine3.get(value)[0])}}</h5>
                </div>
            </div>
        </div>

        <div class="row" style="display: flex; justify-content: space-around">
            <div *ngFor="let value of valuesLine1.keys()" class="card col-md-2">
                <div class="card-header">
                    <h3 class="card-title">{{value | uppercase}}</h3>
                </div>
                <div class="card-body" style="display: flex; justify-content: space-around">
                    <h5>{{((measurement[value] === null) ? '--' : measurement[value] + '' + valuesLine1.get(value))}}</h5>
                </div>
            </div>
        </div>

        <div class="row" style="display: flex; justify-content: space-around">
            <div *ngFor="let value of valuesLine2.keys()" class="card col-md-2">
                <div class="card-header">
                    <h3 class="card-title">{{value | uppercase}}</h3>
                </div>
                <div class="card-body" style="display: flex; justify-content: space-around">
                    <h5>{{((measurement[value] === null) ? '--' : measurement[value] + '' + valuesLine2.get(value))}}</h5>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="error" style="margin-top: 200px">
        <h3 style="text-align: center">There was an error during the request!</h3>
    </div>
</div>




